<!DOCTYPE html>
<html lang="en">

<body>
  

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Admin Sign In</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Admin Sign-In Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Admin Sign-In</h4>
                <form asp-area="Admin" asp-controller="AdminLogin" asp-action="ConfirmAdmin" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <!-- ... (other form elements) ... -->

                            <div class="checkout__input">
                                <label for="UserName">UserName</label><br>
                                <input type="text" id="UserName" name="UserName">
                            </div>
                            <br>
                            <div class="checkout__input">
                                <label for="Password">Password</label><br>
                                <input type="password" id="Password" name="Password">
                            </div>
                            <br>
                            <div>
                                <button type="submit" style="background-color: #dd4b39" name="action">LOGIN</button>
                            </div>
                           
                            <br>
                            <div>
                            <a asp-area="Admin" asp-controller="AdminLogin" asp-action="Index">
                                Sign Up
                            </a>
                            </div>
                               
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Admin Sign-In Section End -->
</body>

</html>